aniso8601==1.2.0
base58==0.2.4
boto3==1.4.1
botocore==1.4.80
cffi==1.9.1
click==6.6
cryptography==1.7
docutils==0.12
enum34==1.1.6
Flask==0.11.1
Flask-Ask==0.8.2
futures==3.0.5
hjson==2.0.2
idna==2.1
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
kappa==0.6.0
lambda-packages==0.10.0
lxml==3.7.1
MarkupSafe==0.23
placebo==0.8.1
pyasn1==0.1.9
pycparser==2.17
pyOpenSSL==16.2.0
python-dateutil==2.6.0
python-slugify==1.2.1
PyYAML==3.12
requests==2.12.3
s3transfer==0.1.9
six==1.10.0
tqdm==4.10.0
troposphere==1.9.0
Unidecode==0.4.19
Werkzeug==0.11.11
wsgi-request-logger==0.4.6
zappa==0.31.0
